.about-page {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 25px;
  color: #040553;
}

/* HERO */
.hero-section {
  background: #d8c59c;
  border-radius: 0 0 35px 35px;
  padding: 5px 10px 40px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto 40px;
}

.home-title {
  font-size: 42px;
  color: #040553;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 1.2;
}

.home-subtitle {
  font-size: 18px;
  color: #040553;
  margin-bottom: 25px;
}

/* SEARCH */
.single-search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
  background: white;
  padding: 8px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.single-search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 0;
}

.search-btn {
  background: #040553;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
}

/* CONTENT */
.about-description h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.about-description p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #2d2d6a;
}

.about-mission {
  margin-top: 40px;
}

.about-mission h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about-mission p {
  font-size: 16px;
  color: #2d2d6a;
}

.about-team {
  margin-top: 50px;
}

.about-team h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}

.team-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  justify-items: center;
}

.team-card {
  background: #d8c59c;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 250px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.team-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #040553;
}

.team-card p {
  font-size: 14px;
  color: #5959b0;
}